{% extends "master.html" %}
{% block title %}Results{% endblock %}

{% block message %}
    <hr />
    <h4 class="text-center">MESSAGE</h4>
    <p class="text-center"><i>{{query}}</i></p>
{% endblock %}

{% block content %}
    <h1 class="text-center">Result</h1>
    {% if classification_result.result == '1' %}
        <div class="jumbotron">
            <h1 class="text-center" style="color: red;">Bad</h1>
        </div>
    {% else %}
        <div class="jumbotron">
            <h1 class="text-center" style="color: green;">Good</h1>
        </div>
    {% endif %}

{% endblock %}
